{% extends 'base.html' %}
{% block content%}




<h1>trade</h1>


<form action="{% url 'trade' %}" class="d-flex mb-5" role="search" method="POST">
    {% csrf_token %}
        <input
        class="form-control me-2"
        type="input"
        placeholder="Buy Stock"
        aria-label="Symbol"
        name="symbol"
        />

        <input
        class="form-control me-2"
        type="input"
        placeholder="Quantity"
        aria-label="Quantity"
        name="qty"
        />
    <button class="btn btn-outline-success text-nowrap" type="submit">
        Stonk Me
    </button>
</form>


<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">Stock Symbol</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>

    <tbody>
    {% if trades %}
        
        
            {% for item in trades %}
            <tr>
                <th scope="row">{{ item }}</th>
                <td>{{ item.qty }}</td>               
                <!-- <td>{{ quote }}</td>                -->
            </tr>
            {% endfor %}
        
        

    
    {% endif %}


    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!-- {{ order_history }}
    <br />

    {{ output }} <br> <br> -->

    <!-- {{ api_trade }}  -->

<!-- {% for item in trades%}
    Trade:{{ item }} Shares:{{ item.qty }}<br>a
{% endfor %}

{% if trades %}
    {{ trades }} <br>

    {% for item in trades%}
        {{ item }} <br>
    {% endfor %}
{% endif %} -->








{% endblock%}